/* SECTION 1 */
/* BLOC TEXTE */
.buttonDisplay {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 5vh 0;
}

#centerButton {
    width: 200px;
    margin: 5vh 10vw;
}

/* SECTION 2 */



/* SECTION 3 */
#section3 {
    margin: 20vh 0;
}
#borderLine{
    border-left: solid 2px var(--chocolate-cosmos);
    padding: 0 60px;
}

/* VIDEO */
iframe {
    margin: auto;
}